https://colab.research.google.com/drive/1fdwX98j9avZk3ufhnNHvGJbqDZEvxSQc?usp=sharing

In [1]:
import numpy as np
import pandas as pd

In [2]:
!gdown "https://drive.google.com/uc?export=download&id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_" -O mckinsey.csv

Downloading...
From: https://drive.google.com/uc?export=download&id=1E3bwvYGf1ig32RmcYiWc0IXPN-mD_bI_
To: c:\Users\prksh\Documents\GitHub\dsml-nov22-beginner-morning-tue\python_libs\pandas\mckinsey.csv

  0%|          | 0.00/83.8k [00:00<?, ?B/s]
100%|██████████| 83.8k/83.8k [00:00<00:00, 693kB/s]
100%|██████████| 83.8k/83.8k [00:00<00:00, 687kB/s]

In [5]:
df = pd.read_csv("C:/Users/prksh/Documents/GitHub/dsml-nov22-beginner-morning-tue/python_libs/pandas/mckinsey.csv")
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.shape

(1704, 6)

In [8]:
# access a column
country = df["country"]
country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [9]:
type(country)

pandas.core.series.Series

In [22]:
# Two types of pandas objects
# 1. Dataframe - 2D, matrix counterpart of pandas
# 2. Series - 1D, 1D array or the vector counterpart in pandas

In [23]:
# In Pandas, dataframe has mixed data (hetero)
# but every column in homoegenous and that brings certain properties of Numpy (speed) here

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     1704 non-null   object
 1   year        1704 non-null   int64
 2   population  1704 non-null   int64
 3   continent   1704 non-null   object
 4   life_exp    1704 non-null   float64
 5   gdp_cap     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [26]:
# In Pandas, anything except int, float and bool, is considered an object

In [27]:
df.head()

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106

In [28]:
df.tail()

       country  year  population continent  life_exp     gdp_cap
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [29]:
df.head(7)

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962    10267083      Asia    31.997  853.100710
3  Afghanistan  1967    11537966      Asia    34.020  836.197138
4  Afghanistan  1972    13079460      Asia    36.088  739.981106
5  Afghanistan  1977    14880372      Asia    38.438  786.113360
6  Afghanistan  1982    12881816      Asia    39.854  978.011439

In [30]:
df.tail(8)

       country  year  population continent  life_exp     gdp_cap
1696  Zimbabwe  1972     5861135    Africa    55.635  799.362176
1697  Zimbabwe  1977     6642107    Africa    57.674  685.587682
1698  Zimbabwe  1982     7636524    Africa    60.363  788.855041
1699  Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700  Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701  Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702  Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703  Zimbabwe  2007    12311143    Africa    43.487  469.709298

In [32]:
# dataframe from scratch
# 1 Row oriented approach
# 2 Column oriented approach

In [11]:
pd.DataFrame([['Afghanistan',1952, 8425333, 'Asia', 28.801, 779.445314 ],
              ['Afghanistan',1957, 9240934, 'Asia', 30.332, 820.853030 ],
              ['Afghanistan',1962, 102267083, 'Asia', 31.997, 853.100710]])
# list of rows

             0     1          2     3       4           5
0  Afghanistan  1952    8425333  Asia  28.801  779.445314
1  Afghanistan  1957    9240934  Asia  30.332  820.853030
2  Afghanistan  1962  102267083  Asia  31.997  853.100710

In [12]:
pd.DataFrame([['Afghanistan',1952, 8425333, 'Asia', 28.801, 779.445314 ],
              ['Afghanistan',1957, 9240934, 'Asia', 30.332, 820.853030 ],
              ['Afghanistan',1962, 102267083, 'Asia', 31.997, 853.100710]],
             columns = ['country','year','population','continent','life_exp','gdp_cap'])

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952     8425333      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030
2  Afghanistan  1962   102267083      Asia    31.997  853.100710

In [13]:
pd.DataFrame( ['Afghanistan',1962, 102267083, 'Asia', 31.997, 853.100710],
             columns = ['country','year','population','continent','life_exp','gdp_cap'])

ValueError: Shape of passed values is (6, 1), indices imply (6, 6)

In [14]:
pd.DataFrame([['Afghanistan',1962, 102267083, 'Asia', 31.997, 853.100710]],
             columns = ['country','year','population','continent','life_exp','gdp_cap'])

       country  year  population continent  life_exp    gdp_cap
0  Afghanistan  1962   102267083      Asia    31.997  853.10071

In [38]:
# column oriented approach - data in the format of columns

In [15]:
pd.DataFrame({'country':['Afghanistan', 'Afghanistan'], 'year':[1952,1957],
              'population':[842533, 9240934], 'continent':['Asia', 'Asia'],
              'life_exp':[28.801, 30.332], 'gdp_cap':[779.445314, 820.853030]})

       country  year  population continent  life_exp     gdp_cap
0  Afghanistan  1952      842533      Asia    28.801  779.445314
1  Afghanistan  1957     9240934      Asia    30.332  820.853030

#### Agenda

Rows and column operations

1. Column operations (no row operation)
2. Row Operations (next class)
3. Row and Column Ops together

### Ops of columns

1. Accessing the column names - .columns, .keys()
2. Accesing the column(s) - [[  ]], dot notation (not recommended)
3. Unique categories - unique(), nunique(), value_counts()
4. Rename column(s) - .rename(single string or list, axis, inplace)
5. Delete - drop(single string or list, axis, inplace)
6. Add a column and Update - just use assignment operation, vectorisation possible

In [41]:
# checking the name of columns

In [16]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [17]:
df.keys() # df works a lot like dictionary in many ways

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [18]:
df['country'] # similar to dictionary? YES

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [19]:
df.year # this method is personally recommend - Why?
# what if nme of the column was shape - df.shape ismt that a property?
# what if there is a space in the column name "gdp per cap" df.gdp per cap??

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

In [21]:
# df as a "special" dictionary
df[["country", "continent"]].head() # doesnt work in regular dictionary

       country continent
0  Afghanistan      Asia
1  Afghanistan      Asia
2  Afghanistan      Asia
3  Afghanistan      Asia
4  Afghanistan      Asia

In [22]:
df[['country']].head() # write syntax as of I am tryoing to access multiple elements

       country
0  Afghanistan
1  Afghanistan
2  Afghanistan
3  Afghanistan
4  Afghanistan

In [23]:
df["continent"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [24]:
df["continent"].nunique()

5

In [25]:
df["continent"].value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

In [58]:
# renaming
df.rename({"population": "Population", "country": "Country"}, axis=1, inplace=True)

In [59]:
df # renaming is not updated in the original dataframe

          Country  year  Population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [65]:
df.drop("continent", axis=1, inplace=True)

In [66]:
df

          Country  year  Population  life_exp     gdp_cap
0     Afghanistan  1952     8425333    28.801  779.445314
1     Afghanistan  1957     9240934    30.332  820.853030
2     Afghanistan  1962    10267083    31.997  853.100710
3     Afghanistan  1967    11537966    34.020  836.197138
4     Afghanistan  1972    13079460    36.088  739.981106
...           ...   ...         ...       ...         ...
1699     Zimbabwe  1987     9216418    62.351  706.157306
1700     Zimbabwe  1992    10704340    60.377  693.420786
1701     Zimbabwe  1997    11404948    46.809  792.449960
1702     Zimbabwe  2002    11926563    39.989  672.038623
1703     Zimbabwe  2007    12311143    43.487  469.709298

[1704 rows x 5 columns]

In [72]:
# deriving a new column from the old columns
df["gdp"] = df["Population"] * df["gdp_cap"] # vectorisation + assignment similar to dict

In [27]:
df

          country  year  population continent  life_exp     gdp_cap   own
0     Afghanistan  1952     8425333      Asia    28.801  779.445314     0
1     Afghanistan  1957     9240934      Asia    30.332  820.853030     1
2     Afghanistan  1962    10267083      Asia    31.997  853.100710     2
3     Afghanistan  1967    11537966      Asia    34.020  836.197138     3
4     Afghanistan  1972    13079460      Asia    36.088  739.981106     4
...           ...   ...         ...       ...       ...         ...   ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306  1699
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786  1700
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960  1701
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623  1702
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298  1703

[1704 rows x 7 columns]

In [29]:
df["own"] = [i for i in range(len(df['gdp_cap']))]

In [30]:
df

          country  year  population continent  life_exp     gdp_cap   own
0     Afghanistan  1952     8425333      Asia    28.801  779.445314     0
1     Afghanistan  1957     9240934      Asia    30.332  820.853030     1
2     Afghanistan  1962    10267083      Asia    31.997  853.100710     2
3     Afghanistan  1967    11537966      Asia    34.020  836.197138     3
4     Afghanistan  1972    13079460      Asia    36.088  739.981106     4
...           ...   ...         ...       ...       ...         ...   ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306  1699
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786  1700
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960  1701
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623  1702
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298  1703

[1704 rows x 7 columns]

In [75]:
# Note
# 1. drop, rename - changes were not made to original dataframe
# 2. Adding a new column - changes were reflecting in the original dataframe
# why?
# drop and remname - functions
# adding a column - assignment operation
# ==> Whenever we are using a Pandas function, we need to use inplace=True for permanent changes

In [ ]:
# Pandas is following functional prog paradigm = keep data and ops happening on the data sep